.container {
  max-width: 1440px;

  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
}
.noContact {
  text-align: center;
  font-size: 24px;
  color: blueviolet;
}
