.container {
  background-color: #224cae;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to top,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.2)
  );
}
